
.bestSellingProducts{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.bestProducts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.product-image2{
    width: 100%;
    height: 300px;
}
@media screen and (max-width:1225px){
    .bestProducts{
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }
}
@media screen and (max-width:684px){
    .bestProducts{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
}