.browseContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.belowCategory{
        display: flex;
        flex-direction: column;
    gap: 40px;
}
.mainCategory{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories{
    width: 200px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid rgb(228, 228, 228);
    transition: all .2s ease-in;
    cursor: pointer;
    >img{
        width: 60px;
    }
    &:hover{
        transform: scale(0.95);
        box-shadow: 5px 5px 2px #ff003c;
    }
}