.sales-products{
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.uper{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    >.red{
        width: 17px;
        height: 40px;
        border-radius: 4px;
        background-color: #DB4444;
    }
    >h3{
        color: #DB4444;
    }
}

@media (max-width: 1000px) {
    .uper > .red {
        width: 20px;
    }
    .uper > h3 {
        font-size: 16px;
    }
}


.countdown {
    display: flex;
    align-items:center;
    gap: 20px;
    font-size: 1.8em;
}

.lefter{
    margin-left: 80px;
}
.countdown div {
    text-align: center;
}

.countdown span {
    display: block;
}

.countdown .number {
    font-weight: bold;
}

.countdown .label {
    font-size: 0.5em;
    color: #666;
}

.separator {
    color: #e07a7a;
    font-weight: bold;
}
.navigator{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-left: 46%;
    gap: 15px;

}

.products-timer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.product{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    cursor: pointer;
}
.product-image{
    width: 100%;

    border-radius: 7px;
    transition: all .2s ease-in;
}

.product-title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-sold-times{
    color: #666;
    font-size: 12px;
}

.price-tag {
    position: absolute;
    width: 50px;
    height: 25px;
    background-color:#ff003c; 
    color: white;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px 0 0 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: rotate(-45deg);
    transition: all .2s ease-in;
  }

  .price-tag::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 5%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
  }
  a:hover ~ .price-tag{
    transform: rotate(0deg);
}
.view-all{
    width: 300px;
    margin-top: 10px;
    border-radius: 4px;
    padding: 10px 25px;
    background-color: #ff003c;
    border: none;
    color: #FFF;
    font-size: 15px;
    align-self: center;
    cursor: pointer;
    >a{
        text-decoration: none;
        color: #FFF;
    }
    &:hover{
        background-color: #cd0030;
    }
}
.add-to-card{
    position: absolute;
    background-color: #ff003c;
    color: white;
    transition: all .2s ease-in;
    border-radius: 7px;
    width: 250px;
    height: 30px;
    display: none;
    bottom: 83px;

}
.product:hover .add-to-card{
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-to-card:hover{
    background-color: #DB4444;

}


@media screen and (max-width:1225px){
    .products-timer{
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
    }
}
@media screen and (max-width:1000px){
    .countdown h3{
        font-size: 30px;
    }
}
@media screen and (max-width:684px){
    .products-timer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}