header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    list-style: none;
}

nav ul > a {
    font-size: 18px;
    transition: all .2s ease-in;
    text-decoration: none;
    color: #000;
}

nav ul > a:hover {
    text-decoration: underline;
    margin-bottom: 5px;
    color: #DB4444;
}

.interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.interaction > a {
    font-size: 25px;
}

.interaction > i {
    cursor: pointer;
    font-size: 25px;
}

.lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.lists > a {
    font-size: 25px;
}

.lists > i {
    font-size: 25px;
    transition: all .2s ease-in;
    cursor: pointer;
}

.logo {
    filter: drop-shadow(0 0 2px #ff003c);
}


.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.burger-menu div {
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}
.burger-menu-nav{
    display: block;
    position: absolute;
    right: 20px;
    top: 130px;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    padding: 35px;
    z-index: 999;
    >a{
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        &:hover{
            color: #DB4444;
        }
    }
}
.activate{
    display: none;
    flex-direction: column;
    gap: 20px;
}


@media screen and (max-width: 768px) {
    /* nav ul {
        display: none;
        flex-direction: column;
        width: 40%;
        position: absolute;
        top: 130px; 
        right: 20px;
        background-color:aliceblue;
        padding: 10px 0;
        z-index: 1000; 
    } */
     .nav-side{
        display: none;
     }

    /* nav ul.active {
        display: flex;
    } */

    .burger-menu {
        display: flex;
    }

    /* nav ul li { 
        padding: 10px;
        text-align: center;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    } */
}